/home/jhell/Desktop/physai/examples/ldg/openfoam/
/home/jhell/Desktop/physai/examples/ldg/outputs/
/home/jhell/Desktop/physai/examples/1dwave/outputs/
/home/jhell/Desktop/physai/examples/1dwave/wave_1d/
/home/jhell/Desktop/physai/examples/ldg/openfoam/cavity_uniformVel0.csv
/home/jhell/Desktop/physai/test/
/home/jhell/Desktop/physai/examples/geometry_creation/stl_files/